.container{
    display: grid;
    align-items: center;
    justify-content: center;
    gap : 5rem;
    grid-template-rows: 1fr 10rem;
}

.control-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.gallery-container{
       width: 50rem;
       overflow: hidden;
}

.gallery{
    transition: all 1s;
    display: flex;
    align-items: center;
    width: 300%;
    overflow: hidden;
    
}

.theme{
    min-width: 50rem;
    min-height: 50rem;
    opacity: 1;
    transition: all .5s;
    width: 500px;
}
